


@media screen and(min-width: 601px) {
  .main-container{
      width: 50%;
      margin: auto;
      margin-top: 5%;
      background: rgba(255, 255, 255, 0.6)
  }
  

}
@media screen and(max-width: 700px) {
  .main-container{
      width: 95%;
      margin: auto;
      margin-top: 20%;
      background: rgba(255, 255, 255, 0.6)
  }
  
}

.container {
  padding:20px;
}


