#main-card{
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 601px) {
    #main-card>p{
        text-align: center;
        font-size: 2vw;
        margin: 0px;
    }
}

@media screen and (max-width: 700px) {
    #main-card>p{
        text-align: center;
        font-size: 6vw;
        margin: 0px;
    }
}

@media screen and (min-width: 601px) {
    #main-card section{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

@media screen and (max-width: 700px) {
    #main-card section{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 601px) {
    #game-card{
        background: rgba(192, 192, 192, 0.582);
        margin: 0px auto 0px auto;
        position: relative;
    }
}

@media screen and (max-width: 700px) {
    #game-card{
        width: 355px;
        height: 355px;
        background-color: rgba(192, 192, 192, 0.582);
        margin: 0px auto 0px auto;
    }
}

#players{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (min-width: 601px) {
    #players>section p{
        text-align: center; 
        width: 15vw;
    }
}

@media screen and (max-width: 700px) {
    #players>section p{
        text-align: center; 
        width: 30vw;
    }
}

#game-card{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1%;
}

#game-card>div{
    margin: 0.5%;
    border-radius: 3px;
}


#game-card>div:hover{
    cursor: pointer;
    //box-shadow: 0 0 1em rgb(119, 107, 38);
}

#game-card>div{
    padding: 0px;
}

p{
    color: white;
}

img{
    border-radius: 5px;
}

#chat-button{
    position: fixed;
    background-color: green;
    top: 85%;
    right: 8%;
    color: white;
}

//About chat 

.write-massage{
    width: 70%;
    padding-right: 6%;
}

#button-send{
    margin: 4%;
}

#Loading{
    display: flex;
    justify-content: center;
    margin: 4%;
}

.chat-container>div{
    width: 50%;
}
