#main-card{
    margin: 0px;
    padding: 0px;
}

@media screen and (min-width: 601px) {
    #main-card>p{
        text-align: center;
        font-size: 2vw;
        margin: 0px;
    }
}

@media screen and (max-width: 700px) {
    #main-card>p{
        text-align: center;
        font-size: 6vw;
        margin: 0px;
    }
}

@media screen and (min-width: 601px) {
    #main-card section{
        display: flex;
        justify-content: center;
        flex-direction: row;
    }
}

@media screen and (max-width: 700px) {
    #main-card section{
        display: flex;
        justify-content: center;
        flex-direction: column;
    }
}

@media screen and (min-width: 601px) {
    #game-card{
        background: rgba(192, 192, 192, 0.582);
        margin: 0px auto 0px auto;
        position: relative;
    }
}

@media screen and (max-width: 700px) {
    #game-card{
        width: 355px;
        height: 355px;
        background-color: rgba(192, 192, 192, 0.582);
        margin: 0px auto 0px auto;
    }
}

#players{
    display: flex;
    justify-content: space-between;
    flex-direction: row;
}

@media screen and (min-width: 601px) {
    #players>section p{
        text-align: center; 
        width: 15vw;
    }
}

@media screen and (max-width: 700px) {
    #players>section p{
        text-align: center; 
        width: 30vw;
    }
}

#game-card{
    display: flex;
    justify-content: center;
    flex-direction: row;
    flex-wrap: wrap;
    padding-top: 1%;
}

#game-card>div{
    margin: 0.5%;
    border-radius: 3px;
}


#game-card>div:hover{
    cursor: pointer;
    //box-shadow: 0 0 1em rgb(119, 107, 38);
}

#game-card>div{
    padding: 0px;
}

p{
    color: white;
}

img{
    border-radius: 5px;
}

#chat-button{
    position: fixed;
    background-color: green;
    top: 85%;
    right: 8%;
    color: white;
}

//About chat 

.write-massage{
    width: 70%;
    padding-right: 6%;
}

#button-send{
    margin: 4%;
}

#Loading{
    display: block;
}

.chat-container>div{
    width: 50%;
}


#WonGame{
    width: 40%;
    background-color: white;
    margin: 20% auto auto auto;
    text-align: center;
}

#WonGame>h5{
    margin: 5%;
}

#WonGame Button{
    margin: 2%;
    background-color: green;
}

.sk-folding-cube {
    display: block;
    margin: 20px auto;
    width: 100px;
    height: 100px;
    position: relative;
    -webkit-transform: rotateZ(45deg);
            transform: rotateZ(45deg);
  }
  
  .sk-folding-cube .sk-cube {
    float: left;
    width: 50%;
    height: 50%;
    position: relative;
    -webkit-transform: scale(1.1);
        -ms-transform: scale(1.1);
            transform: scale(1.1); 
  }
  .sk-folding-cube .sk-cube:before {
    content: '';
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100%;
    background-color: rgba(0, 0, 0, 0.966);
    -webkit-animation: sk-foldCubeAngle 2.4s infinite linear both;
            animation: sk-foldCubeAngle 2.4s infinite linear both;
    -webkit-transform-origin: 100% 100%;
        -ms-transform-origin: 100% 100%;
            transform-origin: 100% 100%;
  }
  .sk-folding-cube .sk-cube2 {
    -webkit-transform: scale(1.1) rotateZ(90deg);
            transform: scale(1.1) rotateZ(90deg);
  }
  .sk-folding-cube .sk-cube3 {
    -webkit-transform: scale(1.1) rotateZ(180deg);
            transform: scale(1.1) rotateZ(180deg);
  }
  .sk-folding-cube .sk-cube4 {
    -webkit-transform: scale(1.1) rotateZ(270deg);
            transform: scale(1.1) rotateZ(270deg);
  }
  .sk-folding-cube .sk-cube2:before {
    -webkit-animation-delay: 0.3s;
            animation-delay: 0.3s;
  }
  .sk-folding-cube .sk-cube3:before {
    -webkit-animation-delay: 0.6s;
            animation-delay: 0.6s; 
  }
  .sk-folding-cube .sk-cube4:before {
    -webkit-animation-delay: 0.9s;
            animation-delay: 0.9s;
  }
  @-webkit-keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    } 
  }
  
  @keyframes sk-foldCubeAngle {
    0%, 10% {
      -webkit-transform: perspective(140px) rotateX(-180deg);
              transform: perspective(140px) rotateX(-180deg);
      opacity: 0; 
    } 25%, 75% {
      -webkit-transform: perspective(140px) rotateX(0deg);
              transform: perspective(140px) rotateX(0deg);
      opacity: 1; 
    } 90%, 100% {
      -webkit-transform: perspective(140px) rotateY(180deg);
              transform: perspective(140px) rotateY(180deg);
      opacity: 0; 
    }
  }