

@media screen and(min-width: 601px) {
    .main-container{
        width: 30%;
        margin: auto;
        margin-top: 10%
    }
}
@media screen and(max-width: 700px) {
    .main-container{
        width: 85%;
        margin: auto;
        margin-top: 45%
    }
}

.main-container {
    background-color: rgba(255, 255, 255, 0.6);
    padding: 10px;
    border-radius: 5px;
}